numpy>=1.26.4
scipy>=1.16.1
pandas>=2.2.2
matplotlib>=3.9.2
clarabel>=0.11.1
SCS>=3.2.7
cvxpy>=1.6.6
scikit-learn>=1.3.0
statsmodels>=0.14.5
arch>=7.2
xlsxwriter>=3.2.2
networkx>=3.4.2
astropy>=6.1.3
pybind11>=2.13.6