sphinx>=7.4.6
numpydoc
sphinxcontrib-napoleon==0.7
sphinx_rtd_theme==2.0.0
sphinxcontrib-bibtex==2.6.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxemoji==0.3.1
sphinx-sitemap==2.6.0
backports.tarfile==1.2.0
RinohType
numpy
scipy
pandas
matplotlib
clarabel
cvxpy
scikit-learn
statsmodels
arch
XlsxWriter
networkx
astropy
pybind11
sphinx-immaterial
fonttools>=4.43.0