sphinx>=7.2.6
numpydoc
sphinxcontrib-napoleon==0.7
sphinx_rtd_theme==2.0.0
sphinxcontrib-bibtex==2.6.1
sphinxemoji==0.1.8
sphinx-sitemap==2.5.1
RinohType
numpy
scipy
pandas
matplotlib
clarabel
cvxpy
scikit-learn
statsmodels
arch
XlsxWriter
networkx
astropy
pybind11