sphinx>=7.4.6
numpydoc
sphinxcontrib-napoleon==0.7
sphinx_rtd_theme==2.0.0
sphinxcontrib-bibtex==2.6.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxemoji==0.3.1
sphinx-sitemap==2.6.0
backports.tarfile==1.2.0
RinohType
numpy>=1.26.4,
scipy>=1.13.0,
pandas>=2.2.2,
matplotlib>=3.9.2,
clarabel>=0.11.1,
SCS>=3.2.7,
cvxpy>=1.6.6,
scikit-learn>=1.3.0
statsmodels>=0.14.5,
arch>=7.2,
xlsxwriter>=3.2.2,
networkx>=3.4.2,
astropy>=6.1.3,
pybind11>=2.13.6,
sphinx-immaterial
fonttools>=4.43.0